
.account-dropdown {
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: #0e2741db;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  color: white;
  font-family: Arial, sans-serif;
  right: 10px;
  top: 60px;
}

.account-item {
  margin-bottom: 15px;
}

.account-item span {
  display: block;
}
.account-item-but{
  display: flex;
  justify-content: space-between;
}
.account-item-but button{
  background-color: #77a8dc;
  color: white;
  width: 48%;
  height: 30px;
  border-radius: 5px;
}
.account-item a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.account-item a:hover {
  text-decoration: underline;
}

.account-item:last-child {
  margin-bottom: 0;
}

