@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Status-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.status-box {
  padding: 20px;
  width: 90%;
}

.status-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  padding-bottom: 0px;
}
.status-viewgroup1 {
  width: 35%;
}
.status-viewgroup1 button{
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2em;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.active-class button{
  background-color: #0e2741;
  color: #fff;
}
.status-viewgroup {
  display: flex;
  align-items: center;
  position: relative;
}

.status-viewgroup input[type="radio"] {
  margin-right: 8px;
  accent-color: green;
}

.status-viewgroup label {
  font-weight: bold;
}

.status-close {
  text-align: right;
  width: 100%;
  margin: 25px 0;
}

.status-close svg {
  cursor: pointer;
}
.status-content{
    width: 100%;
    background-color: #DCECF9;
}
.status-content table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.status-content td {
  padding: 5px;
}
.status-content tr td:first-child { 
    font-weight: bolder;
}

.status-view {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  width: 30%;
}

.status-viewgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.status-viewgroup-date {
  text-align: center;
  width: 50%;
}

.status-viewgroup-date p {
  margin: 0;
}

.status-viewgroup input[type="radio"] {
  margin-right: 10px;
}

